Language: Cpp
Standard: c++20
LineEnding: LF
UseTab: Always

IndentWidth: 8
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8

IndentCaseLabels: true

PackConstructorInitializers: NextLineOnly
AlwaysBreakAfterReturnType: None
PointerAlignment: Right
FixNamespaceComments: false
NamespaceIndentation: All
AlignAfterOpenBracket: DontAlign
AccessModifierOffset: -8
IndentAccessModifiers: false

SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesInAngles: Never

# This can cause breaking changes if clang-format messed up
QualifierAlignment: Left

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Always
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false

BreakAfterAttributes: Leave
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon

ColumnLimit: 120
ReflowComments: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 3

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[:alnum:]+/.*>'
    Priority:        2
    SortPriority:    2
  - Regex:           '<[:alnum:]+>'
    Priority:        3
  - Regex:           '".*"'
    Priority:        1

