Language: Cpp
AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
EmptyLineBeforeAccessModifier: Always
SortIncludes: CaseInsensitive
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: false
    AfterControlStatement: Always
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: true
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
NamespaceIndentation: All
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterControlStatements: false
SeparateDefinitionBlocks: Leave
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: DontAlign
BreakBeforeTernaryOperators: true
ColumnLimit: 110
AlignOperands: DontAlign
BreakBeforeBinaryOperators: NonAssignment
MaxEmptyLinesToKeep: 3
FixNamespaceComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
