# https://editorconfig.org/
root = true

[*]
charset = ascii
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Data files
[data/**.txt]
trim_trailing_whitespace = false
indent_style = tab

# Code files
[*.{cpp,h,rc,hpp}]
indent_style = tab
cpp_space_pointer_reference_alignment = right
cpp_space_after_keywords_in_control_flow_statements = false

[**/CMakeLists.txt]
indent_style = tab

# Changelog file
[changelog]
charset = UTF-8
indent_style = space
indent_size = 2

# Copyright file
[copyright]
charset = UTF-8
indent_style = space
indent_size = 1

# Credits file
[credits.txt]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Scripts
[*.{sh,ps1}]
indent_style = space
indent_size = 2

# OpenGL shaders
[*.{frag,vert}]
indent_style = tab

[*.py]
indent_style = tab

[*.xml]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.json]
indent_style = tab

[{io.github.endless_sky.endless_sky.appdata.xml,io.github.endless_sky.endless_sky.desktop}]
charset = UTF-8
