# https://editorconfig.org/
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Data files
[data/**.txt]
trim_trailing_whitespace = false
indent_style = tab

# Code files
[{*.{cpp,h,rc,hpp}, SConstruct, SConscript}]
indent_style = tab
# Except any third-party libraries
[catch.hpp]
indent_style = unset

# Changelog file
[changelog]
indent_style = space
indent_size = 2

# Copyright file
[copyright]
indent_style = space
indent_size = 1

# Credits file
[credits.txt]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Scripts
[*.{sh,ps1}]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space

[utils/contentStyle.json]
indent_style = tabs
