# https://editorconfig.org/
root = true

[*]
insert_final_newline = true

# Data files
[data/**.txt]
trim_trailing_whitespace = false
indent_style = tab

# Code files
[*.{cpp,h,rc,hpp}]
trim_trailing_whitespace = false
indent_style = tab

# Markdown
[*.md]
trim_trailing_whitespace = false

[*.xml]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
