language: cpp
sudo: required

matrix:
    include:
      - dist: trusty
      - dist: xenial
        env: DIST_DEPS=scons
      - os: osx
        env: MODE=Release

addons:
    homebrew:
        packages:
        - libmad
        - libpng
        - jpeg-turbo
        - sdl2
        update: true

git:
    quiet: true
    depth: 5

branches:
    except:
        - gh-pages

before_install:
    - |
        if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
            sudo apt-get -qq update;
            sudo apt-get install -y $DEP_ARGS $DIST_DEPS;
        fi

env:
    global:
        - DEP_ARGS="libsdl2-dev libpng12-dev libjpeg-turbo8-dev libglew-dev libopenal-dev libgl1-mesa-dev libmad0-dev libegl1-mesa-dev libgles2-mesa-dev libpango1.0-dev"

script:
    - |
        if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
            scons -j2;
        elif [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            xcodebuild -configuration $MODE install -quiet
        fi
    - |
        if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
            es_path=./endless-sky;
        elif [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            es_path='/tmp/EndlessSky.dst/Applications/Endless Sky.app/Contents/MacOS/Endless Sky'
        fi
        ./tests/test_parse.sh "$es_path"

before_cache:
    - brew cleanup

cache:
    directories:
        - $HOME/Library/Caches/Homebrew

notifications:
    email:
        on_success: never
        on_failure: change
