[Desktop Entry]
Name=Endless Sky
Exec=endless-sky
Icon=endless-sky
Terminal=false
Type=Application
Keywords=game;simulator;space;sandbox;rpg;
Categories=Game;Simulation;
Comment=Space exploration and combat game
