[Desktop Entry]
Name=Endless Sky
GenericName=Space game
GenericName[de]=Weltraumspiel
GenericName[fr]=Jeu spatial
Comment=Space exploration and combat game
Comment[de]=Weltraumhandels und Kampfsimulator
Comment[fr]=Jeu d'exploration et de combat dans l'espace
Exec=endless-sky
Icon=endless-sky
Terminal=false
Type=Application
Keywords=game;simulator;space;sandbox;rpg;
Categories=Game;Simulation;
