[Desktop Entry]
Version=1.5
Name=Endless Sky
Comment=Space exploration and combat game
Comment[de]=Weltraumhandels und Kampfsimulator
Comment[fr]=Jeu d'exploration et de combat dans l'espace
Comment[hu]=Űrkutatási és harci játék
Exec=endless-sky
Icon=endless-sky
Type=Application
Keywords=game;simulator;space;sandbox;rpg;
Categories=Game;Simulation;
PrefersNonDefaultGPU=true
SingleMainWindow=true
