on:
  workflow_call:
    outputs:
      data:
        value: ${{ jobs.changed.outputs.data }}
      game_code:
        value: ${{ jobs.changed.outputs.game_code }}
      macos:
        value: ${{ jobs.changed.outputs.macos }}
      windows:
        value: ${{ jobs.changed.outputs.windows }}
      linux:
        value: ${{ jobs.changed.outputs.linux }}
      unit_tests:
        value: ${{ jobs.changed.outputs.unit_tests }}
      integration_tests:
        value: ${{ jobs.changed.outputs.integration_tests }}
      codespell:
        value: ${{ jobs.changed.outputs.codespell }}
      xcode_files:
        value: ${{ jobs.changed.outputs.xcode_files }}
      codeblocks_files:
        value: ${{ jobs.changed.outputs.codeblocks_files }}
      cmake_files:
        value: ${{ jobs.changed.outputs.cmake }}
      copyright:
        value: ${{ jobs.changed.outputs.copyright }}

jobs:
  changed:
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.filter.outputs.data }}
      game_code: ${{ steps.filter.outputs.game_code }}
      macos: ${{ steps.filter.outputs.macos }}
      windows: ${{ steps.filter.outputs.windows }}
      linux: ${{ steps.filter.outputs.linux }}
      unit_tests: ${{ steps.filter.outputs.unit_tests }}
      integration_tests: ${{ steps.filter.outputs.integration_tests }}
      codespell: ${{ steps.filter.outputs.codespell }}
      xcode_files: ${{ steps.filter.outputs.xcode_files }}
      codeblocks_files: ${{ steps.filter.outputs.codeblocks_files }}
      cmake_files: ${{ steps.filter.outputs.cmake_files }}
      copyright: ${{ steps.filter.outputs.copyright }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: .github/path-filters.yml
        token: ${{ github.token }}
